/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sub-panel {
  button {
    margin-left: 10px;
  }
}

.is-required {
  display: inline;
  padding-left: 5px;
  color: red;
  font-weight: bolder;
}

.ml-10 {
  margin-left: 10px;
}

.f-grid {
  display: flex;
  justify-content: space-between;
  margin-left: -1rem;
  flex-flow: row wrap;
}

.f-grid-cell {
  flex: 1 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
