/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-panel {
  display: inline-block;
  width: 80%;
}

.sub-panel {
  display: inline-block;
  width: 20%;
  button {
    margin-left: 10px;
  }
}

.is-required {
  display: inline;
  padding-left: 5px;
  color: red;
  font-weight: bolder;
}

.ml-10 {
  margin-left: 10px;
}
