<app-dynamic-form *ngIf="fullForm.length > 0" [fields]="fullForm">
</app-dynamic-form>

<mat-divider></mat-divider>

<form class="builder-form" [formGroup]="newQuestionForm">
  <h3>Add A Question</h3>

  <mat-form-field class="input-field" appearance="fill">
    <mat-label>Question</mat-label>
    <input
      matInput
      placeholder="New question"
      id="questionLabel"
      formControlName="questionLabel"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Question Type</mat-label>
    <mat-select formControlName="controlType">
      <mat-option
        *ngFor="let control of questionTypes"
        [value]="control.value"
        id="controlType"
      >
        {{ control.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- If question is either radio or checklist-->
  <div
    *ngIf="
      newQuestionForm.get('controlType').value === 'radioButton' ||
      newQuestionForm.get('controlType').value === 'checkbox'
    "
  >
    <!-- Iterative OPTIONS template -->
    <div
      *ngFor="let option of optionsList.controls; let i = index"
      class="options-group"
    >
      <div [formGroup]="option">
        <mat-form-field class="input-field" appearance="fill">
          <mat-label>Add Answer option</mat-label>
          <input
            matInput
            placeholder="Add Answer option"
            id="{{ 'optionValue' + i }}"
            formControlName="optionValue"
          />
        </mat-form-field>

        <mat-checkbox
          id="{{ 'isCommentToggled' + i }}"
          formControlName="isCommentToggled"
          (change)="onOptionCommentToggledChanges(option)"
        >
        </mat-checkbox>

        <mat-form-field
          class="input-field"
          appearance="outline"
          *ngIf="option.get('isCommentToggled').value"
        >
          <input
            matInput
            placeholder="Add option comment"
            id="{{ 'optionComment' + i }}"
            formControlName="optionComment"
          />
        </mat-form-field>
      </div>
    </div>
  </div>

  <section
    *ngIf="
      newQuestionForm.get('controlType').value === 'radioButton' ||
      newQuestionForm.get('controlType').value === 'checkbox'
    "
  >
    <mat-checkbox
      id="isIncludingOtherOption"
      formControlName="isIncludingOtherOption"
    >
      Include 'Other' option
    </mat-checkbox>
  </section>

  <section>
    <mat-checkbox id="isRequired" formControlName="isRequired">
      This question is required
    </mat-checkbox>
  </section>
</form>

<br />

<button
  mat-raised-button
  color="primary"
  (click)="addNewQuestionToForm()"
  [disabled]="!newQuestionForm.valid || isEditingMode === true"
>
  Submit
</button>

<button
  class="button--builder ml-10"
  mat-raised-button
  color="accent"
  (click)="updateQuestion()"
  [disabled]="isEditingMode !== true"
>
  Update Question
</button>

<button
  class="button--preview"
  mat-raised-button
  color="secondary"
  (click)="goToPreviewForm()"
>
  Preview my answers >
</button>
