.input-field {
  padding-right: 20px;
  line-height: 25px;
  width: 50%;
}

.btn-preview,
.btn-submit {
  display: block;
  // margin-top: 15px;
}

.questions-group {
  margin: 15px 0;
}

p {
  margin-top: 15px;
}
