h3 {
  margin: 15px 0;
}

.input-field {
  padding-right: 20px;
  line-height: 1.125;
  width: 50%;
}

button {
  margin-top: 15px;
  display: block;
}

.questions-group {
  margin: 15px 0;
}

p {
  margin-top: 15px;
}
